@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary-color: #ff416c;
  --secondary-color: #ff4b2b;
  --background-color: #f5f7fa;
  --text-color: #343a40;
  --gradient: linear-gradient(135deg, #ff416c, #ff4b2b);
  --button-gradient: linear-gradient(90deg, #ff416c, #ff4b2b);
  --shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  background-color:rgb(110, 110, 247);
  padding:15px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.single-meal {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.single-meal img {
  max-width:300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px;
}

.single-meal h1 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 20px;
}

.single-meal ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.single-meal ul li {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

.single-meal p {
  text-align: left;
  margin: 20px 0;
  line-height: 1.1;
}

.single-meal-info {
  margin-top: 20px;
}

.back-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: rgb(58, 179, 58);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.footer {
  text-align: center;
  background-color:rgb(110, 110, 247);
  color: white;
  padding: 20px;
}
